:root {
  --vp-c-blue-1: #163f7e;
  --vp-c-blue-2: #1e946b;
  --vp-c-blue-3: #b6bcc2;
  --vp-c-blue-soft: rgba(110, 156, 190, 0.14);

  --vp-c-yellow-1: #b87545;
  --vp-c-yellow-2: #a5c650;
  --vp-c-yellow-3: #fa9f5e;
  --vp-c-yellow-soft: rgba(186, 186, 186, 0.14);

  --vp-c-brand-1: var(--vp-c-blue-1);
  --vp-c-brand-2: var(--vp-c-blue-2);
  --vp-c-brand-3: var(--vp-c-blue-3);
  --vp-c-brand-soft: var(--vp-c-blue-soft);
}

.dark {
  --vp-c-brand-1: var(--vp-c-yellow-1);
  --vp-c-brand-2: var(--vp-c-yellow-2);
  --vp-c-brand-3: var(--vp-c-yellow-3);
  --vp-c-brand-soft: var(--vp-c-yellow-soft);
}

body {
  line-height: unset;
}

// todo 重置element plus的主题
:root {
  // --td-border-level-2-color: var(--vp-c-brand-soft) !important;
  --td-border-level-2-color: #333222 !important;
  --td-brand-color: var(--vp-c-brand-1) !important;
  --td-brand-color-light: var(--vp-c-brand-soft) !important;
  --td-brand-color-hover: var(--vp-c-brand-1) !important;
  --td-brand-color-active: var(--vp-c-brand-2) !important;
}
