@mixin border-1px-dashed($dotColor) {
	position: relative;
	&:after {
		width: 100%;
		display: block;
		position: absolute;
		left: 0;
		bottom: 0;
		border-bottom: 1px dashed $dotColor;
        content: '';
        transform: scaleY(.5);
	}
}
@mixin border-none() {
	&:after {
		display: none;
	}
}